@import "../../assets/css/index";

@include b(login-bg){
  position: absolute;
  top:0;
  bottom: 0;
  width: 100%;
  background: $--color-login-bg;
}
@include b(login) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin: -200px 0 0 -200px;
  color: $--color-white;

  @include e(title) {
    font-size: ($--font-size-base*2);
    font-weight: 200;
    text-align: center;
  }

  @include e(input) {

    input {
      appearance: none;
      display: block;
      width: 300px;
      height: 48px;
      line-height: 48px;
      margin: 0 auto;
      border: 1px solid rgba($--color-white, 0.4);
      background-color: rgba($--color-white, 0.2);
      border-radius: 3px;

      font-size: $--font-size-large;
      text-align: center;
      color: $--color-white;
      font-weight: 300;
      transition: 0.25s;

      &:hover{
        background-color: rgba($--color-white, 0.4);
      }
      &:focus{
        background-color: darken($--color-white,3%);
        width: 350px;
        color: $--color-green;
      }
      &::placeholder{

        color: $--color-white;
        font-weight: 300;
      }
    }
  }

  @include e(btn){
    display: block;
    width: 300px;
    height: 48px;
    margin: 0 auto;
    background: none;
    color: $--color-white;
    transition: .25s;
    font-size: $--font-size-large;

    &:hover{
      background: $--color-green !important;
      color: $--color-white !important;
      border-color: $--color-green;

    }
  }

  .el-form-item__error{
    padding-left:50px;
  }
  .el-form-item.is-success .el-input__inner,
  .el-form-item.is-error .el-input__inner,
  .el-form-item.is-error .el-input__inner:focus,
  .el-form-item.is-error .el-textarea__inner,
  .el-form-item.is-error .el-textarea__inner:focus{
    border-color: rgba($--color-white, 0.2);
  }
}
